doctype html
html(lang="ru-RU")
	head
		include template/head.pug
	body
		section.container.clearfix
			aside.sidebar
				.sidebar__logoWrap
					.sidebar__logo
					.sidebar__nameLogoWrap
						p.sidebar__nameLogo KERTHIN SHOT
					.sidebar__nameCreatorWrap
						p.sidebar__nameCreator BY KERTHIN
				nav.verticalMenu.sidebar__verticalMenu
					ul.verticalMenu__list
						mixin verticalListItemMix(link, nameLink)
							li.verticalMenu__listItem
								a(class="verticalMenu__itemLink" href=(`${link}`))= nameLink
						+verticalListItemMix('#', 'HOME')
						+verticalListItemMix('#', 'PORTFOLIO')
						+verticalListItemMix('#', 'ABOUT US')
						+verticalListItemMix('#', 'OUR TEAM')
						+verticalListItemMix('#', 'OUR CLIENTS')
						+verticalListItemMix('#', 'FEEDBACK')
						+verticalListItemMix('#', 'CONTACT US')
			main.content
				section.homeBlock
					.homeBlock__logoWrap
						.homeBlock__logo
						.homeBlock__nameLogoWrap
							p.homeBlock__nameLogo WELCOME TO KERTHIN SHOT
					.homeBlock__scrollDownWrap

				section.portfolioBlock
					mixin gridItemMix(modifierName, pathCardStructure, portfolioBlockTitleMix, portfolioBlockTextMix, portfolioBlockSignatureMix)
						- var portfolioBlockTitle = `${portfolioBlockTitleMix}`;
						- var portfolioBlockText = `${portfolioBlockTextMix}`;
						- var portfolioBlockSignature = `${portfolioBlockSignatureMix}`;
							case `${pathCardStructure}`
								when '0'
									div(class=`portfolioBlock__cell ${modifierName}`)
								when '1'
									div(class=`portfolioBlock__cell ${modifierName}`)
										include template/partials/cardStructure.pug
								default
									p enter another number
					+gridItemMix('', '1', 'INDIAN SUMMER SKV COLLECTION', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam a nesciunt perspiciatis soluta odio sint provident, explicabo ullam, quos maxime, aperiam adipisci.')
					+gridItemMix('portfolioBlock__cell_bg_gucciSquare', '0')
					+gridItemMix('', '1', 'DD DENOM COLLECTION', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ea, iure nulla.')
					+gridItemMix('portfolioBlock__cell_bg_jaredLetoGucciSquare', '0')
					+gridItemMix('', '1', 'DHENEB DENOM COLLECTION', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam a nesciunt perspiciatis soluta odio sint provident, explicabo ullam, quos maxime, aperiam adipisci.')
					+gridItemMix('portfolioBlock__cell_gr_2-4', '0')
					+gridItemMix('portfolioBlock__cell_gc_1-3', '0')
				section.aboutUsBlock
					.contentBox.aboutUsBlock__contentBox
						article.contentBox__titleWrap
							h1.contentBox__title WHAT ARE OUR SKILLS
						artcile.contentBox__textWrap
							p.contentBox__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse vitae numquam eum optio maxime, aspernatur impedit, voluptate accusamus illum facere illo error suscipit qui modi magnam pariatur maiores iusto enim deserunt saepe quibusdam. Expedita velit voluptates.
						ul.contentBox__list 
							mixin aboutUsListItemMix(fontAwesomeClassName, descriptionTitleMix, descriptionTextMix)
								li.contentBox__listItem
									.contentBox__iconItemWrap
										.contentBox__iconItemRect
											i(class=`fas fa-${fontAwesomeClassName}` aria-hidden="true")
									article.contentBox__descriptionWrap
										.contentBox__descriptionTitleWrap
											h2.contentBox__descriptionTitle= descriptionTitleMix
										.contentBox__descriptionTextWrap
											p.contentBox__descriptionText= descriptionTextMix
							+aboutUsListItemMix('layer-group', 'PROJECT DOCUMENTATION','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, in, sunt.')
							+aboutUsListItemMix('pencil-alt', 'GRAPHICS DESIGN','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, animi dolor.')
							+aboutUsListItemMix('chart-line', 'PROJECT DOCUMENTATION','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, fuga, accusamus.')
							+aboutUsListItemMix('drafting-compass', 'PROJECT DOCUMENTATION','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequuntur, eius!')
							+aboutUsListItemMix('bolt', 'PROJECT DOCUMENTATION','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, odio, nemo.')
							+aboutUsListItemMix('angle-double-down', 'PROJECT DOCUMENTATION','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nobis saepe!')
				section.ourTeamBlock
					.ourTeamBlock__descriptionBox
						article.ourTeamBlock__descriptionTitleWrap
							.ourTeamBlock__descriptionTitleBox
								h1.ourTeamBlock__descriptionTitle KERTHIN
							.ourTeamBlock__descriptionImgBox
							.ourTeamBlock__descriptionTitleBox
								h1.ourTeamBlock__descriptionTitle SHOT
						artcile.ourTeamBlock__descriptionTextWrap
							p.ourTeamBlock__descriptionText Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga laborum voluptatum excepturi rem tempora sunt ipsa, pariatur consequuntur ipsam aliquid, quo ratione sed facilis culpa commodi voluptatem odio impedit voluptate laboriosam minima eum reiciendis tempore.
				section.ourClientsBlock
					.ourClientsBlock__contentBox
						.ourClientsBlock__titleWrap
							h1.ourClientsBlock__title WHAT ARE OUR CLIENTS
						.clientsSwipeSlider.ourClientsBlock__slider
							.swiper-container
								.swiper-wrapper
									mixin swiperParalax(img)
										div(class=`swiper-slide swiper-wrapper_bg swiper-wrapper_bg_${img}`)
									+swiperParalax('client1')
									+swiperParalax('client2')
									+swiperParalax('client3')
									+swiperParalax('client4')
									+swiperParalax('client5')
									+swiperParalax('client6')
									+swiperParalax('client7')
									+swiperParalax('client8')
									+swiperParalax('client9')
									+swiperParalax('client10')
									+swiperParalax('client11')
									+swiperParalax('client12')
								.swiper-button-next
								.swiper-button-prev
				section.feedbackBlock
					.feedbackBlock__contentBox
						.feedbackBlock__titleWrap
							h1.feedbackBlock__title SEND US A MESSAGE
						.feedbackBlock__formWrap
							form.feedbackBlock__form
								mixin inputFeedbackMix(inputTypeMix, inputPlaceholderMix, inputSizeMix)
									input(class=`feedbackBlock__input ${inputSizeMix}` type=`${inputTypeMix}` placeholder=`${inputPlaceholderMix}`)
								+inputFeedbackMix('name', 'Username *', '')
								+inputFeedbackMix('email', 'Email *', '')
								+inputFeedbackMix('text', 'Username *', '')
								+inputFeedbackMix('number', 'Number *', '')
								+inputFeedbackMix('text', '', 'feedbackBlock__input_size-messageInput')
								button(class="feedbackBlock__button" type="submit") SEND A MASSAGE
				section.contactUsBlock
					.contactUsBlock__contentBox
						.contactUsBlock__logo
						article.contactUsBlock__communicationWrap
							.contactUsBlock__communicationBox
								.contactUsBlock__communicationTitleWrap
									h1.contactUsBlock__communicationTitle CONTACT US
								.contactUsBlock__communicationLinksWrap
									address.contactUsBlock__communicationItem 201 N Los Angeles St # 23, Los Angeles, CA 90012, USA <br>
									a(class="contactUsBlock__communicationItem" href="mailto: example@mail.ru") Email: belichenko.roden@list.ru <br>
									a(class="contactUsBlock__communicationItem" href="tel: +1 213-622-8745") Phone: +1 213-622-8745 <br>
									a(class="contactUsBlock__communicationItem" href="tel: +1 213-626-7010") Phone: +1 213-626-7010 <br>
									a(class="contactUsBlock__communicationItem" href="fax: +1 213-628-9258") Fax: +1 213-628-9258
						article.contactUsBlock__twitterWrap
							.contactUsBlock__twitterBox
								.contactUsBlock__twitterTitleWrap
									h1.contactUsBlock__twitterTitle RECENT TWEETS
								.contactUsBlock__twitterOutBox
									a(class="twitter-timeline" href="https://twitter.com/HIDEO_KOJIMA_EN?ref_src=twsrc%5Etfw")
		include template/scripts.pug